/**handles:pdfemb_embed_pdf_css**/

div.pdfemb-viewer {
	overflow: hidden;
	line-height: 1;
	margin: 0px;
	padding: 0px;
	border: 1px solid black;
	position: relative;
	text-align: left;
	direction: ltr;
    background-color: lightGrey;
}

div.pdfemb-inner-div {
	overflow: hidden;
	line-height: 1;
	margin: auto;
	padding: 0px;
	border: none;
	position: relative;
	background-color: lightGrey;
	display: block;
}

div.pdfemb-inner-div-wantmobile {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 50;
    background-color: lightgray;
    opacity: 0.5;
}

div.pdfemb-inner-div-wantmobile-fswrap {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 100;
}

div.pdfemb-wantmobile-fsarea {
    position: relative;
    width: 80%;
    margin: 40% auto 0 auto;
    padding: 10px;
    height: 20%;
    max-height: 35px;
    text-align: center;
    opacity: 1;
    cursor: pointer;

    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border:4px solid #363600;
    background-color:#C5BDCF;
    -webkit-box-shadow: #B3B3B3 8px 8px 8px;
    -moz-box-shadow: #B3B3B3 8px 8px 8px;
    box-shadow: #B3B3B3 8px 8px 8px;

    color: black;
    font-family: sans-serif;
    letter-spacing: 2px;
    font-size: 16px;
    line-height: 110%;
}

.grab-to-pan-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
  -webkit-overflow-scrolling: touch;
}

.grab-to-pan-grab *:not(input):not(textarea):not(button):not(select):not(:link) {
  cursor: inherit;
}
.grab-to-pan-grab:active,
.grab-to-pan-grabbing {
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;

  z-index: 50000; /* should be higher than anything else in PDF.js! */
}

div.pdfemb-loadingmsg {
	text-align: center;
	padding: 5px;
    background-color: white;
}

div.pdfemb-viewer canvas {
	position: relative;
	top: 0px; 
	bottom: 0px;
	margin: 0px;
	padding: 0px;
	display: inline-block;
	background-color: white;
}

div.pdfemb-toolbar {
	padding: 0px;
	margin: 0px;
	border: none;
	z-index: 10;
	position: absolute;

    background-color: grey; 
    width: 100%;
}

div.pdfemb-toolbar-fixed {
    display: block;
}

div.pdfemb-toolbar-hover {
    display: none;
}

div.pdfemb-toolbar-top {
	top: 0px;
	left: 0px;
}

div.pdfemb-toolbar-bottom {
	bottom: 0px;
	left: 0px;
	/* padding-top: 1px; */
}

div.pdfemb-toolbar button, div.pdfemb-toolbar button[disabled] {
	background-color: hsla(0,0%,0%,.12);
	background-image: linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,100%,0));
	background-clip: padding-box;
	border: 1px solid hsla(0,0%,0%,.35);
	border-color: hsla(0,0%,0%,.32) hsla(0,0%,0%,.38) hsla(0,0%,0%,.42);
	box-shadow: 0 1px 0 hsla(0,0%,100%,.05) inset,
	0 0 1px hsla(0,0%,100%,.15) inset,
	0 1px 0 hsla(0,0%,100%,.05);
	-webkit-transition-property: background-color, border-color, box-shadow;
	-webkit-transition-duration: 150ms;
	-webkit-transition-timing-function: ease;
	transition-property: background-color, border-color, box-shadow;
	transition-duration: 150ms;
	transition-timing-function: ease;

	min-width: 16px;
	padding: 2px 6px 0;
	width: auto;

	border-radius: 2px;
	color: hsla(0,0%,100%,.8);
	font-size: 12px;
	line-height: 14px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	cursor: default;

	margin: 4px 2px 4px 0;

	float: left;

}

div.pdfemb-toolbar button:hover {
	background-color: hsla(0,0%,0%,.2);
	box-shadow: 0 1px 0 hsla(0,0%,100%,.05) inset,
	0 0 1px hsla(0,0%,100%,.15) inset,
	0 0 1px hsla(0,0%,0%,.05);
}

div.pdfemb-toolbar button:first-child {
	margin-left: 4px;
}

div.pdfemb-toolbar button.pdfemb-toggled {
	background-color: hsla(0,0%,0%,.3);
	background-image: linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,100%,0));
	border-color: hsla(0,0%,0%,.4) hsla(0,0%,0%,.45) hsla(0,0%,0%,.5);
	box-shadow: 0 1px 1px hsla(0,0%,0%,.1) inset,
	0 0 1px hsla(0,0%,0%,.2) inset,
	0 1px 0 hsla(0,0%,100%,.05);
	-webkit-transition-property: background-color, border-color, box-shadow;
	-webkit-transition-duration: 10ms;
	-webkit-transition-timing-function: linear;
	transition-property: background-color, border-color, box-shadow;
	transition-duration: 10ms;
	transition-timing-function: linear;
}

div.pdfemb-toolbar button.pdfemb-toggled:hover {
	background-color: hsla(0,0%,0%,.4);
	border-color: hsla(0,0%,0%,.4) hsla(0,0%,0%,.5) hsla(0,0%,0%,.55);
	box-shadow: 0 1px 1px hsla(0,0%,0%,.2) inset,
	0 0 1px hsla(0,0%,0%,.3) inset,
	0 1px 0 hsla(0,0%,100%,.05);
}


div.pdfemb-toolbar button.pdfemb-prev::before {
	content: url('http://wildseed.blazewebtech.com/wp-content/plugins/pdf-embedder/img/toolbarButton-pageUp.png');
}

div.pdfemb-toolbar button.pdfemb-next::before {
	content: url('http://wildseed.blazewebtech.com/wp-content/plugins/pdf-embedder/img/toolbarButton-pageDown.png');
}

div.pdfemb-toolbar button.pdfemb-zoomout::before {
	content: url('http://wildseed.blazewebtech.com/wp-content/plugins/pdf-embedder/img/toolbarButton-zoomOut.png');
}

div.pdfemb-toolbar button.pdfemb-zoomin::before {
	content: url('http://wildseed.blazewebtech.com/wp-content/plugins/pdf-embedder/img/toolbarButton-zoomIn.png');
}

div.pdfemb-toolbar button.pdfemb-fs::before {
	content: url('http://wildseed.blazewebtech.com/wp-content/plugins/pdf-embedder/img/toolbarButton-presentationMode.png');
}

div.pdfemb-toolbar button.pdfemb-download::before {
	content: url('http://wildseed.blazewebtech.com/wp-content/plugins/pdf-embedder/img/toolbarButton-download.png');
}

div.pdfemb-toolbar button.pdfemb-btndisabled {
	color: lightGray;
}

div.pdfemb-toolbar div {
	margin: 6px 15px 6px 2px;
	font-family: sans-serif;
	font-size: 12px;
	padding: 2px;
	text-align: center;
	letter-spacing: normal;
	word-spacing: normal;
	font-size: 12px;
	line-height: 14px;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	font-weight: normal;
	display: inline;
	color: lightgray;

	float: left;
}

div.pdfemb-toolbar div.pdfemb-poweredby {
    float: right;
}

div.pdfemb-toolbar div.pdfemb-poweredby a {
    color: lightgray;
    text-decoration: none;
    border-bottom: 1px solid #333;
}
div.pdfemb-toolbar div.pdfemb-poweredby a:hover {
    border-bottom: none;
}

div.pdfemb-errormsg {
	padding: 5px;
	text-align: center;
	vertical-align: middle;
    background-color: #faa;
}

.pdfemb-fsp-wrapper {
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 4000;
    overflow-y: auto;
    overflow-x: hidden;
    display: none;
}

.pdfemb-fsp-content {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
    top: 0px;
    left: 0px;
}

input.pdfemb-page-num {
	display: inline;
	font-family: sans-serif;
	width: 30px;
	height: 15px;
	vertical-align: middle;
	font-size: 10px;
	padding: 0px 2px;
	color: black;
	text-align: center;
	margin: 0px;
}

.pdfembAnnotationLayer {
	position: static;
}

.pdfembAnnotationLayer section.linkAnnotation {
	position: absolute;
	padding: 0;
	margin: 0;
	background: none;
    z-index: 5;
}

.pdfembAnnotationLayer .linkAnnotation > a {
	position: absolute;
	font-size: 1em;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.pdfembAnnotationLayer .linkAnnotation > a /* -ms-a */  {
	background: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7") 0 0 repeat;
    border: none;
	opacity: 0;
}

.pdfembAnnotationLayer .linkAnnotation > a:hover {
	opacity: 0.2;
	background: #ff0;
	box-shadow: 0px 2px 10px #ff0;
    border: none;
}

.pdfembAnnotationLayer .textAnnotation img {
	position: absolute;
	cursor: pointer;
}

.pdfembAnnotationLayer .popupWrapper {
	position: absolute;
	width: 20em;
}

.pdfembAnnotationLayer .popup {
	position: absolute;
	z-index: 200;
	max-width: 20em;
	background-color: #FFFF99;
	box-shadow: 0px 2px 5px #333;
	border-radius: 2px;
	padding: 0.6em;
	margin-left: 5px;
	cursor: pointer;
	word-wrap: break-word;
}

.pdfembAnnotationLayer .popup h1 {
	font-size: 1em;
	border-bottom: 1px solid #000000;
	padding-bottom: 0.2em;
}

.pdfembAnnotationLayer .popup p {
	padding-top: 0.2em;
}

.pdfembAnnotationLayer .highlightAnnotation,
.pdfembAnnotationLayer .underlineAnnotation,
.pdfembAnnotationLayer .squigglyAnnotation,
.pdfembAnnotationLayer .strikeoutAnnotation {
	cursor: pointer;
}

.pdfembTextLayer {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    opacity: 0.2;
    line-height: 1.0;
    background: none;
}

.pdfembTextLayer > div {
    cursor: text !important;
    color: transparent;
	position: absolute;
    padding: 0;
    margin: 0;
    background: none;
    top: 0;
    left: 0;
    -webkit-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
}

.pdfemb-pagescontainer {
	overflow: hidden ;
	display: block;
	position: relative;
	background-color: lightGrey;
}
.poweredby{
	float: right !important;
}

/* Safari 6.1+ (9.0 is the latest version of Safari at this time) */

@media screen and (min-color-index:0)
and(-webkit-min-device-pixel-ratio:0) { @media
{
    .pdfemb-pagescontainer {
        margin-left: 1px;
    }
}}

.scrollbar-none{
    overflow: scroll;
    scrollbar-width: none
}

.scrollbar-none::-webkit-scrollbar { 
    display: none; 
} 
.scrollbar-none { -ms-overflow-style: none; }